.contact {
    padding: 4rem 2rem;
    background: #1D3557;
    color: #A9BCD0;
    text-align: center;
  
    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      color: #FFFFFF;
    }
  
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
  
      a {
        color: #3DF2A3;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  