.contact {
    padding: 4rem 2rem;
    background: #1D3557;
    color: #A9BCD0;
    text-align: center;
    
  
    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      color: #FFFFFF;
    }
 
  
    .icons {
      display: flex; /* Garante que os ícones fiquem lado a lado */
      justify-content: center; /* Centraliza horizontalmente */
      gap: 2rem; /* Espaçamento entre os ícones */
  
      p {
        margin: 0;
        
        a {
          display: flex;
          align-items: center;
  
          img {
            width: 48px;
            height: 48px;
            transition: transform 0.3s ease;
  
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }

    }
  }
  