.experience {
  padding: 4rem 2rem;
  background: #0D1B2A;
  color: #A9BCD0;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #FFFFFF;
  }

  .experience-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;

    .experience-item {
      background: #1D3557;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: center;

      .company-logo {
        width: 50%;
        height: auto;
        margin: auto;
        border-radius: 0%;
        object-fit: cover;
      }

      h3 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        color: #FFFFFF;
      }

      p {
        margin-bottom: 1rem;
        color: #A9BCD0;
      }

      ul {
        list-style-type: disc;
        margin-top: 1rem;
        padding-left: 1.5rem;

        li {
          font-size: 0.9rem;
          line-height: 1.6;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
